
<main>
  <div class="card-group">
    <div class="card card-primary text-center">
      <img class="card-img-top" src="../../assets/cafe1.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="badge badge-primary badge-sm">FOR HOME</div>
        <div class="card-title"> Good Cafe </div>
        <p class="card-text">Continental, American, Italian, Bakery, Desserts, Beverages
          Foodies Kitchen,Juices and Hot Drinks Chennai.</p>
          <div class="card-title">Any Time any where,Dine-in · Takeaway · No-contact delivery</div>
      </div>
      <div class="card-footer">
        <a href="restaurant-booking" class="btn btn-outline-secondary btn-icon-right">
          <span>Book
            <img src= "https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24"  alt="Card image cap">
          </span>
        </a>
      </div>
    </div>
    <div class="card card-primary text-center">
      <img class="card-img-top" src="../../assets/cafe2.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="badge badge-primary badge-sm">Good Cafe</div>
        <div class="card-title"> Good Cafe</div>
        <p class="card-text">Continental, American, Italian, Bakery, Desserts, Beverages
          Foodies Kitchen,Juices and Hot Drinks Chennai.</p>
          <div class="card-title">Any Time any where,Dine-in · Takeaway · No-contact delivery</div>
      </div>
      <div class="card-footer">
        <a href="restaurant-booking" class="btn btn-outline-secondary btn-icon-right">
          <span>Book
            <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24"  alt="Card image cap">
          </span>
        </a>
      </div>
    </div>
    <div class="card card-primary text-center">
      <img class="card-img-top" src="../../assets/cafe3.jpg" alt="Card image cap">
      <div class="card-body">
        <div class="badge badge-primary badge-sm">Good Cafe</div>
        <div class="card-title"> Good Cafe</div>
        <p class="card-text">Continental, American, Italian, Bakery, Desserts, Beverages
          Foodies Kitchen,Juices and Hot Drinks Chennai.</p>
          <div class="card-title">Any Time any where,Dine-in · Takeaway · No-contact delivery</div>
      </div>
      <div class="card-footer">
        <a href="restaurant-booking" class="btn btn-outline-secondary btn-icon-right">
          <span>Book
            <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24"  alt="Card image cap">
          </span>
        </a>
      </div>
    </div>
  </div>
  <main>
    <div class="card-group">
      <div class="card card-primary text-center">
        <img class="card-img-top" src="../../assets/cafe4.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="badge badge-primary badge-sm">Good Cafe</div>
          <div class="card-title"> Good Cafe</div>
          <p class="card-text">Continental, American, Italian, Bakery, Desserts, Beverages
            Foodies Kitchen,Juices and Hot Drinks Chennai.</p>
            <div class="card-title">Any Time any where,Dine-in · Takeaway · No-contact delivery</div>
        </div>
        <div class="card-footer">
          <a href="restaurant-booking" class="btn btn-outline-secondary btn-icon-right">
            <span>Book
              <img src="../../assets/cafe1.jpg" height="24"  alt="Card image cap">
            </span>
          </a>
        </div>
      </div>
      <div class="card card-primary text-center">
        <img class="card-img-top" src="../../assets/cafe5.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="badge badge-primary badge-sm">Good Cafe</div>
          <div class="card-title"> Good Cafe</div>
          <p class="card-text">Continental, American, Italian, Bakery, Desserts, Beverages
            Foodies Kitchen,Juices and Hot Drinks Chennai.</p>
            <div class="card-title">Any Time any where,Dine-in · Takeaway · No-contact delivery</div>
        </div>
        <div class="card-footer">
          <a href="restaurant-booking" class="btn btn-outline-secondary btn-icon-right">
            <span>Book
              <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24"  alt="Card image cap">
            </span>
          </a>
        </div>
      </div>
      <div class="card card-primary text-center">
        <img class="card-img-top" src="../../assets/cafe6.jpg" alt="Card image cap">
        <div class="card-body">
          <div class="badge badge-primary badge-sm">Good Cafe</div>
          <div class="card-title"> Good Cafe</div>
          <p class="card-text">Continental, American, Italian, Bakery, Desserts, Beverages
            Foodies Kitchen,Juices and Hot Drinks Chennai.</p>
            <div class="card-title">Any Time any where,Dine-in · Takeaway · No-contact delivery</div>
        </div>
        <div class="card-footer">
          <a href="restaurant-booking" class="btn btn-outline-secondary btn-icon-right">
            <span>Book
              <img src="https://static3.avast.com/1/web/i/v2/components/arrow-m-right-orange.png" height="24"  alt="Card image cap">
            </span>
          </a>
        </div>
        <app-navheader></app-navheader>
      </div>
    </div>
  
  