
    <body>
        <div class="container">
        <section>
            <div class = "image">
               <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
            </div>

            <div class = "content">
                <h2>About Us</h2>
                <span><!-- line here --></span>
                <p>The <strong>"AS Resort"</strong> located off the hippy haven of famous "rooms". A true reflection of modern influences, contemporary hospitality which offers luxurious opulence of tastefully appointed rooms and suites for your indulgence.</p>
                <ul class = "links">
                    <li><a href = "#">work</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">service</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">contact</a></li>
                </ul>
                <ul class = "icons">
                    <li>
                        <em class = "fa fa-twitter"></em>
                    </li>
                    <li>
                        <em class = "fa fa-facebook"></em>
                    </li>
                    <li>
                        <em class = "fa fa-github"></em>
                    </li>
                    <li>
                        <em class = "fa fa-pinterest"></em>
                    </li>
                </ul>
            </div>
        </section><br><br>
        <div class="credit">Made with <span style="color:tomato">❤</span> by <a href="https://www.learningrobo.com/">AS Resort</a></div>
    </div>   
    </body>


