<div class="bg-img">
    <div class="container">
        <div class="panel-body">
            <form [formGroup]="productbookingFormGroup">
                <div class="panel-heading"></div>
                <div class="form-group">
                    <label for="Name"> Name:</label>
                    <input id="Name" type="text" class="form-control" formControlName="Name" placeholder="Name Required"
                        required />
                </div>
                <div class="form-group">
                    <label for="roomtype">Room Type:</label><br>
                    <select input id="roomtype" name="roomtype" type="text"  class="form-control"
                        formControlName="roomtype" >
                        <option value="select the roomtype">select the roomtype</option>
                        <option value="Bar">Bar</option>
                        <option value="Cafe">Cafe</option>
                        <option value="Cloud Kitchen">Cloud Kitchen</option>
                        <option value="Enterprise">Enterprise</option>
                        <option value="Dine-in">Dine-in</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="roomnumber">Room Number:</label>
                    <input id="roomnumber" class="form-control" type="roomnumber" formControlName="roomnumber"
                        placeholder=" roomnumber(required)" />
                </div>
                <div class="form-group">
                    <label for="Food">Food Avaliable:</label>
                    <select input id="Food" class="form-control" type="roomtype" formControlName="Food" name="Food"
                        id="Food" class="select">
                        <option value="Briyani">Bar</option>
                        <option value="Fried Rice">Fried Rice</option>
                        <option value="Dosa">Dosa</option>
                        <option value="Idly">Idly</option>
                        <option value="Uttapam">Uttapam</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Price">Price:</label>
                    <input id="Price" class="form-control" formControlName="Price" placeholder="Price (required)" />
                </div>
                <div>
                    <button class="btn" id="butt" type="submit"
                        (click)="FormSubmit(this.productbookingFormGroup.value)">submit</button>
                </div>
            </form>
        </div>
        