.select{
    appearance: none;
    width: 480px;
    border-color: grey;
    /* border: 1px solid blue; */
    /* outline: 1px solid blue; */
}
.container{
    padding-top: 50px;
    background-image:linear-gradient(to right top,rgb(56, 141, 109), rgb(68, 86, 185));
    height: 550px;
    width: 500px;
    /* height: 91.5vh;
    margin-left: 0px;
    margin-right: 10px;
    width: 100vw;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden; */
}
.bg-img {
    /* The image used */
    background-image: url("../../assets/background3.jpeg");
    /* Control the height of the image */
    min-height: 590px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  #butt{
    margin: auto;
        background-color:lightslategray;
        color: rgb(2, 1, 1);
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 70%;
        opacity: 0.9;
        margin-left:10% ;
        height: 45px;
}
