.form-group{
    max-width: 500px;
    margin: auto;
}
#topic{
    margin-top: 10px;
    font-style: normal;
    width: 50%;
}
/* span{
    background-color: chocolate;
} */
#email{
    width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
#password{
    width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
#butt{
    margin: auto;
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 70%;
        opacity: 0.9;
        margin-left:10% ;
        height: 45px;
}
.container1{
    display:grid;
    grid-template-columns: auto auto;
}
.panel-body{
    background-image: linear-gradient(rgba(8, 9, 8, 0.533),rgba(36, 110, 142, 0.533));
    margin-top:40px;
    margin-left:970px;
    border: 2px solid rgba(12, 11, 11, 0.574);
    width: 380px;
    height: 400px;
    box-shadow: 2px;
    margin-right: 600px;
    background-color:rgb(249, 252, 252);
    border-radius: 5px;
} 
.form-control{
   width:350px;
}

input {
    background-color: transparent;
    border: none;
}
.login1 {
    font-weight: 900;
}
.login {
    margin-left: 140px;
    margin-top: 45px;
  background-image: linear-gradient(rgba(24, 25, 24, 0), rgb(29, 22, 27));
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  appearance: none;
}
/* .butt{
        margin: auto;
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 70%;
        opacity: 0.9;
        margin-left:10% ;
        height: 45px;
    }
    .butt:hover {
      opacity: 1;
    } */
/* img{
    width:500px;
    height: 300px;
    margin-top:80px;
} */
.topic{
    padding: auto;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: large;
    /* background-color: cornflowerblue; */
    height: 50px;
}
footer{
    width: 1350px;
    height: 50px;
     background-color: chocolate;
    margin-top: 120px;
}
h2{
    margin-top: 30px;
}
.bg-img {
    /* The image used */
    background-image: url("../../assets/cloud4.jpg");
    /* Control the height of the image */
    min-height: 590px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  