/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.css); 
@import '~ngx-toastr/toastr'; 
 /*.page:hover{
    display: inline;
    font-weight: bolder;
    padding-left: 35px;
    padding-right: 35px;
    background-color:white;
    box-sizing: border-box;
    border-radius: 25px;
     list-style-type: none; 
}*/ 
/*a{
    color:aquamarine;
    text-decoration-line: none;
}

div{
    display: inline;
    margin-right: 20px;
    color: red;
     list-style-type: none;
     background-image: linear-gradient(pink,lightseagreen); 
}*/
/* nav{
    background-color: rgb(43, 255, 0);
} */