.restauranttype{
  margin-left: 70px;
  width: 1200px;
  height: 590px;
}
.foot{
  margin-top: 220px;
}

.row{
    margin-left: 50px;
}
.card-img-top{
    width: 600px;
}
.card{
    width: 600px;
}
.col{
    height: 400px;
    border-radius: 100px;
}
.card-img-top1{
    height: 380px;
}
.card-text1{
    font-size: larger;
    font-style: italic;
}
.card-text{
    font-size: larger;
    font-style: italic;
    font-weight: 800;
}
.list1:hover {
    margin-left: 6px;
    font-weight: 600;
    font-style: normal;
    color: blue;
    /* background-color: yellow; */
  }
  .list2:hover {
    margin-left: 6px;
    font-weight: 600;
    font-style: normal;
    color: blue;
  }
  .list3:hover {
    margin-left: 6px;
    font-weight: 600;
    font-style: normal;
    color: blue;
  }
  .list4:hover {
    margin-left: 6px;
    font-weight: 600;
    font-style: normal;
    color: blue;
  }
  .list5:hover {
    margin-left: 6px;
    font-weight: 600;
    font-style: normal;
    color: blue;
  }
.card-title{
    margin-left: 6px;
    font-weight: 600;
    font-style: normal;
    color: blue;
}