<div>
  <img src="../../assets/resttype3.gif" class="restauranttype" alt="..." />
</div>

<!-- <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="../../assets/Restaurant1.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Resorts For You</h5>
                <p class="card-text">
                    Complete Software Suite customized to Your restaurant needs
                </p>
            </div>
        </div>
    </div> -->
<!-- <div class="col">
        <div class="card">
            <img src="../../assets/bar3.jpg" class="card-img-top1" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Types of Resorts</h5>
                <div class="card-text1">
                    <div class="list1">
                        <a href="" routerLink="/bar" routerLinkActive="active-link" class="card__link">Bar</a>
                    </div>
                    <div class="list2">
                        <a href="" routerLink="/cafe" routerLinkActive="active-link" class="card__link">cafe</a>
                    </div>
                    <div class="list3">
                        <a href="" routerLink="/cloud-kitchen" routerLinkActive="active-link" class="card__link">Cloud Kitchen</a>
                    </div>
                    <div class="list5">
                        <a href="" routerLink="/dine-in" routerLinkActive="active-link" class="card__link">Dine in</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div> 
</div> --> 

<link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">

<h1>Different Type of Restaurant </h1>
<div class="first">
  <div class="__area text-center">
    <a href="#" class="__card">
      <button class="__favorit"><i class="la la-heart-o"></i></button>
      <div class="__card_detail text-left">
        <img src="https://i.pinimg.com/originals/74/84/4c/74844c4207ec819b6ffaa6291591311e.jpg"
          class="img-fluid __img" />
        <h4>Bar</h4>
        <br>
        <p>
          AR Garden Road, 200 feet road ,North, 8, NH716,
          Behind DRJ Hospital, Korattur, Chennai, Tamil Nadu 600080.
        </p>
        <br>
        <div class="__type">
          <span href="#Italian">Drinks</span>
          <span href="#Vegetarian">Vegetarian</span>
          <span href="#Pizza">Pizza</span>
          <span href="#off">10%</span>
        </div>
        <br>
        <div class="__detail">
          <i class="la la-star-o"></i> <span>10Am </span> <i class="la la-clock-o"></i> <span>12PM</span>
        </div>
        <div class="list1">
          <button><a href="bar" class="card__link">Go</a></button>
        </div>
      </div>
    </a>
  </div>

  <div class="__area1 text-center">
    <a href="#" class="__card">
      <button class="__favorit"><i class="la la-heart-o"></i></button>
      <div class="__card_detail text-left">
        <img src="https://i.pinimg.com/originals/74/84/4c/74844c4207ec819b6ffaa6291591311e.jpg"
          class="img-fluid __img" />
        <h4>Cafe</h4>
        <br>
        <p>
          AR Garden Road, 200 feet road ,North, 8, NH716,
          Behind DRJ Hospital, Korattur, Chennai, Tamil Nadu 600080.
        </p>
        <br>
        <div class="__type">
          <span href="#Italian">Drinks</span>
          <span href="#Vegetarian">Vegetarian</span>
          <span href="#Pizza">Pizza</span>
          <span href="#off">10%</span>
        </div>
        <br>
        <div class="__detail">
          <i class="la la-star-o"></i> <span>10Am </span> <i class="la la-clock-o"></i> <span>12PM</span>
        </div>
        <div class="list1">
          <button><a href="cafe">Go</a></button>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="second">
  <div class="__area text-center">
    <a href="#" class="__card">
      <button class="__favorit"><i class="la la-heart-o"></i></button>
      <div class="__card_detail text-left">
        <img src="https://i.pinimg.com/originals/74/84/4c/74844c4207ec819b6ffaa6291591311e.jpg"
          class="img-fluid __img" />
        <h4>Cloud-Kitchen</h4>
        <br>
        <p>
          AR Garden Road, 200 feet road ,North, 8, NH716,
          Behind DRJ Hospital, Korattur, Chennai, Tamil Nadu 600080.
        </p>
        <br>
        <div class="__type">
          <span href="#Italian">Drinks</span>
          <span href="#Vegetarian">Vegetarian</span>
          <span href="#Pizza">Pizza</span>
          <span href="#off">10%</span>
        </div>
        <br>
        <div class="__detail">
          <i class="la la-star-o"></i> <span>10Am </span> <i class="la la-clock-o"></i> <span>12PM</span>
        </div>
        <div class="list1">
          <button><a href="cloud-kitchen">Go</a></button>
        </div>
      </div>
    </a>
  </div>

  <div class="__area2 text-center">
    <a href="#" class="__card">
      <button class="__favorit"><i class="la la-heart-o"></i></button>
      <div class="__card_detail text-left">
        <img src="https://i.pinimg.com/originals/74/84/4c/74844c4207ec819b6ffaa6291591311e.jpg"
          class="img-fluid __img" />
        <h4>Dine-in</h4>
        <br>
        <p>
          AR Garden Road, 200 feet road ,North, 8, NH716,
          Behind DRJ Hospital, Korattur, Chennai, Tamil Nadu 600080.
        </p>
        <br>
        <div class="__type">
          <span href="#Italian">Drinks</span>
          <span href="#Vegetarian">Vegetarian</span>
          <span href="#Pizza">Pizza</span>
          <span href="#off">10%</span>
        </div>
        <br>
        <div class="__detail">
          <i class="la la-star-o"></i> <span>10Am </span> <i class="la la-clock-o"></i> <span>12PM</span>
        </div>
        <div class="list5">
          <button><a href="dine-in">Go</a></button>
      </div>
      </div>
    </a>
  </div>
</div>


<div class="foot">
  <!-- Remove the container if you want to extend the Footer to full width. -->
  <div class="container my-5">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-between p-4 text-white" style="background-color: #2a9c8f">
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <em class="fab fa-facebook-f"></em>
          </a>
          <a href="" class="text-white me-4">
            <em class="fab fa-twitter"></em>
          </a>
          <a href="" class="text-white me-4">
            <em class="fab fa-google"></em>
          </a>
          <a href="" class="text-white me-4">
            <em class="fab fa-instagram"></em>
          </a>
          <a href="" class="text-white me-4">
            <em class="fab fa-linkedin"></em>
          </a>
          <a href="" class="text-white me-4">
            <em class="fab fa-github"></em>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">About Resort</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                Situated amidst the picturesque hills of Lonavala, this 5 star resort near Pune and Mumbai is one of the
                best resorts in Lonavala
                and an ultimate getaway destination. Experience a stay in any of our exquisitely designed rooms with
                world-class amenities and impeccable hospitality. Della Resorts offers 250+ luxurious rooms spread
                across 6 Resort categories,
                4 designer suites and an uber luxurious Presidential Suite.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Inside the Resort</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="#!" class="text-dark">Bar</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Cafe</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Cloud Kitchen</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Dine in</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Atomsphere</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="#!" class="text-dark">Very Peacefull Place</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Clean and Neat</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Best Customer Revie</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Good Customer Service</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p><em class="fas fa-home mr-3"></em> New York, NY 10012, US</p>
              <p><em class="fas fa-envelope mr-3"></em> info@example.com</p>
              <p><em class="fas fa-phone mr-3"></em> + 01 234 567 88</p>
              <p><em class="fas fa-print mr-3"></em> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark" href="https://www.dellaresorts.com/">restaurant.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <app-navheader></app-navheader>
</div>