<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="cards">
  <div class="card">
    <img class="card__image" src="../../assets/cloud1.jpg" alt="">
    <div class="card__content">
      <h4>CK at Chennai</h4>
      <h5>Details</h5>
      <p>
        Hygiene maintenance is well,Workers using gloves and suits while cooking,Highly qualified cheifs and Food are
        delivered in correct time
      </p>
      <span>No Dinnig allowed Enrty fee ₹250 </span>

    </div>
    <div class="card__info">
      <div>
        <em class="material-icons">thumb_up</em>310
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../../assets/cloud2.jpg" alt="">
    <div class="card__content">
      <h4>CK at Coimbatore</h4>
      <h5>Details</h5>
      <p>
        Hygiene maintenance is well,Workers using gloves and suits while cooking,Highly qualified cheifs and Food are
        delivered in correct time
      </p>
      <span>No Dinnig allowed Enrty fee ₹250 </span>
    </div>
    <div class="card__info">
      <div>
        <em class="material-icons">thumb_up</em>1,993
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../../assets/cloud3.jpg" alt="">
    <div class="card__content">
      <h4>CK at Madurai</h4>
      <h5>Details</h5>
      <p>
        Hygiene maintenance is well,Workers using gloves and suits while cooking,Highly qualified cheifs and Food are
        delivered in correct time
      </p>
      <span>No Dinnig allowed Enrty fee ₹250 </span>
    </div>
    <div class="card__info">
      <div>
        <em class="material-icons">thumb_up</em>887
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../../assets/cloud4.jpg" alt="">
    <div class="card__content">
      <h4>CK at Salem</h4>
      <h5>Details</h5>
      <p>
        Hygiene maintenance is well,Workers using gloves and suits while cooking,Highly qualified cheifs and Food are
        delivered in correct time
      </p>
      <span>No Dinnig allowed Enrty fee ₹250 </span>
    </div>
    <div class="card__info">
      <div>
        <em class="material-icons">thumb_up</em>2,512
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../../assets/cloud5.jpg" alt="">
    <div class="card__content">
      <h4>CK at Erode</h4>
      <h5>Details</h5>
      <p>
        Hygiene maintenance is well,Workers using gloves and suits while cooking,Highly qualified cheifs and Food are
        delivered in correct time
      </p>
      <span>No Dinnig allowed Enrty fee ₹250 </span>
    </div>
    <div class="card__info">
      <div>
        <em class="material-icons">thumb_up</em>140
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
  </div>

  <div class="card">
    <img class="card__image" src="../../assets/cloud6.jpg" alt="">
    <div class="card__content">
      <h4>CK at Nammakal</h4>
      <h5>Details</h5>
      <p>
        Hygiene maintenance is well,Workers using gloves and suits while cooking,Highly qualified cheifs and Food are
        delivered in correct time
      </p>
      <span>No Dinnig allowed Enrty fee ₹250 </span>
    </div>
    <div class="card__info">
      <div>
        <em class="material-icons">thumb_up</em>2,512
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card__image" src="../../assets/cloud 7.webp" alt="">
    <div class="card__content">
      <h4>CK at Sivagangai</h4>
      <h5>Details</h5>
      <p>
        Hygiene maintenance is well,Workers using gloves and suits while cooking,Highly qualified cheifs and Food are
        delivered in correct time
      </p>
      <span>No Dinnig allowed Enrty fee ₹250 </span>
    </div>
    <div class="card__info">
      <div>
        <em class="material-icons">thumb_up</em>2,512
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
  </div>

  <div class="card">
    <img class="card__image" src="../../assets/cloud8.jpg" alt="">
    <div class="card__content">
      <h4>CK at Tirunelveli</h4>
      <h5>Details</h5>
      <p>
        Hygiene maintenance is well,Workers using gloves and suits while cooking,Highly qualified cheifs and Food are
        delivered in correct time
      </p>
      <span>No Dinnig allowed Enrty fee ₹250 </span>
    </div>
    <div class="card__info">
      <div>
        <em class="material-icons">thumb_up</em>2,512
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
    <app-navheader></app-navheader>
  </div>
</div>