<div class="menubar">
    <nav class="navbar navbar-dark fixed-top text-white bg-dark">
        <ul>
            <div class="name">AS Resort </div>
            <div class="page">
                <a href="">Home</a>
            </div>
            <div class="sign-up">
                <a href="signup">Sign-up</a>
            </div>
            <div class="about-us">
                <a href="about">About Us</a>
            </div>
            <div class="Contact-us">
                <a href="contact">Contact Us</a>
            </div>

        </ul>
    </nav>
</div>
