<div>
    <nav class="navbar navbar-dark fixed-top bg-dark">
    <ul>
        <div class="page">
            <a href="">Home</a>
        </div>
        <div class="page">
            <a href="news">News</a>
        </div>
        <div class="page">
            <a href="books">Book List</a>
        </div>
        <div class="page">
            <a href="addbook">Add Books</a>
        </div>
        <div class="page">
            <a href="employee-form">Employee Form</a>
        </div>
        <div class="page">
            <a href="customer-form">Customer Form</a>
        </div>
        <div class="page">
            <a href="hit-button">Hit Button</a>
        </div>
    </ul>
</nav>
</div>
