<div class="menubar">
    <nav class="navbar navbar-dark fixed-top text-black bg-info">
        <ul>
            <div class="page">
                <a href="">Home</a>
            </div>
            <!-- <div class="sign-up">
                <a href="signup">Sign-up</a>
            </div> -->
            <div class="Restaurant">
                <a href="bar">Restaurant</a>
            </div>
            <!-- <div class="client-login">
                <a href="client-login">Login</a>
            </div> -->
            <div class="restaurant-types">
                <a href="restaurant-types">Restaurant-Type</a>
            </div>
            <div class="page">
                <a href="adminlogin">Admin Login</a>
            </div>
            <div class="page">
                <a href="restaurant-booking">Restaurant Booking</a>
            </div>
            <div class="page">
                <a href="product-booking">Product Booking</a>
            </div>

        </ul>
    </nav>
</div>
