<div class="card-group">
    <div class="card">
        <img src="https://mdbootstrap.com/img/new/standard/city/041.webp" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Discovery</h5>
            <div class="card-text">
                <div>
                    <h6>Online Food Booking System</h6>
                </div>
                <div>
                    <h6>Mobile App</h6>
                </div>
                <div>
                    <h6>Table Reservation</h6>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="https://mdbootstrap.com/img/new/standard/city/042.webp" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Operations</h5>
            <div class="card-text">
                <div>
                    <h6>Restaurant POS System</h6>
                </div>
                <div>
                    <h6>Inventory</h6>
                </div>
                <div>
                    <h6>kitchen Display System</h6>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="https://mdbootstrap.com/img/new/standard/city/043.webp" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to
                additional content. This card has even longer content than the first to show
                that equal height action.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>