<div class="menubar">
    <nav class="navbar navbar-dark fixed-top text-white bg-dark">
        <ul>
            <div class="name">AS Resort </div>
            <div class="restaurant-types">
                <a href="restaurant-types">Restaurant-Type</a>
            </div>
            <div class="restaurant-booking">
                <a href="restaurant-booking">Restaurant Booking</a>
            </div>
            <div class="Logout">
                <a routerLink="">Log Out</a>
            </div>

        </ul>
    </nav>
</div>