.page:hover{
    display: inline;
    font-weight: bolder;
     padding-left: 35px;
    padding-right: 35px; 
    background-color:rgb(122, 222, 233);
    box-sizing: border-box;
    border-radius: 25px;
} 
.restaurant-types{
    padding-left: 40px;
    margin-left: 440px;
}
/* .restaurant-types ,
.restaurant-booking,
.Logout{
    
    margin-left: 20px;
} */
.restaurant-types:hover,
.restaurant-booking:hover,
.Logout:hover{
    display: inline;
    font-weight: bolder;
     padding-left: 35px;
    padding-right: 35px; 
    background-color:rgb(79, 161, 200);
    box-sizing: border-box;
    border-radius: 25px;
} 
a{
    color:rgb(251, 250, 250);
    text-decoration-line: none;
    font-weight: 700;
    font-size:23px;
}

div{
    display: inline;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 700;
     color: red;
}

.navbar navbar-dark fixed-top bg-dark {
    width: 10px;
    height: 50px;
    padding: 80px;
}

.menubar{
    margin-left: 700px;
}