<div class="card-body">
  <div class="card-group">
    <div class="card">
      <img src="../../assets/dine3.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dine-in in Chennai </h5>
        <p class="card-text">The lot of Peoples can sit and Eat.The place was cleaned every 10mins.Many Varieties of
          foods are available</p>
        <span> Enrty fee ₹350.Food Costly is Separate </span>
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/dine1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dine-in in Coimbatore </h5>
        <p class="card-text">The lot of Peoples can sit and Eat.The place was cleaned every 10mins.Many Varieties of
          foods are available</p>
        <span> Enrty fee ₹350.Food Costly is Separate </span>
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/dine2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dine-in in Madurai </h5>
        <p class="card-text">The lot of Peoples can sit and Eat.The place was cleaned every 10mins.Many Varieties of
          foods are available</p>
        <span> Enrty fee ₹350.Food Costly is Separate </span>
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>

  <div class="card-group">
    <div class="card">
      <img src="../../assets/dine4.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dine-in in Sivagangai </h5>
        <p class="card-text">The lot of Peoples can sit and Eat.The place was cleaned every 10mins.Many Varieties of
          foods are available</p>
        <span> Enrty fee ₹350.Food Costly is Separate </span>
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/dine6.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dine-in in Tirunelveli </h5>
        <p class="card-text">The lot of Peoples can sit and Eat.The place was cleaned every 10mins.Many Varieties of
          foods are available</p>
        <span> Enrty fee ₹350.Food Costly is Separate </span>
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
    </div>
    <div class="card">
      <img src="../../assets/dine5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dine-in in Erode </h5>
        <p class="card-text">The lot of Peoples can sit and Eat.The place was cleaned every 10mins.Many Varieties of
          foods are available</p>
        <span> Enrty fee ₹350.Food Costly is Separate </span>
      </div>
      <div>
        <button type="button" class="btn btn-info" (click)="click()">Book</button>
      </div>
      <app-navheader></app-navheader>
    </div>
  </div>
</div>