<div class="home">
<section class="grainy-gradient-intro">
   <svg height="0" width="0">
     <filter id='f'>
       <feTurbulence type='fractalNoise' baseFrequency='.5' />
     </filter>
   </svg>
   <div class="d-flex justify-content-center align-items-center text-center" style="height: calc(100vh - 26px);">
     <h1 class="display-4 fw-bold text-uppercase text-dark mb-0" style="letter-spacing: 15px;">Resort Booking</h1>
   </div>
 </section>
 <div>
 <button class="btn" (click)="click()">Sign Up</button>
 <button class="btn1" (click)="change()">User Login</button>
 </div>
 
<div>
   <img src="../../assets/restaurant-dineout.gif" class="restaurantgif" alt="..." />
</div>
<div>
   <img src="../../assets/food.gif" class="restaurantgif" alt="..." />
</div>
<br>
<div class="row row-cols-1 row-cols-md-2 g-4">
   <div class="col">
     <div class="card">
       <img
         src="../../assets/home1.webp"
         class="card-img-top"
         alt="..."
       />
       <div class="card-body">
       </div>
     </div>
   </div>
   <div class="col">
     <div class="card">
       <img
         src="../../assets/map.png"
         class="card-img-top"
         alt="..."
       />
       <div class="card-body">
         <h5 class="resort">Resort Location</h5>
         <br>
         <p class="Resort">
          AR Garden Road, 200 feet road ,North, 8, NH716,
           Behind DRJ Hospital, Korattur, Chennai, Tamil Nadu 600080
           For contact: 098845 88088
         </p>
       </div>
     </div>
   </div>
 </div>

<section>
   <div class="container-fluid">
     <div class="container">
       <div class="row">
         <div class="col-sm-4">
           <div class="card card_red text-center">
             <div class="title">
               <i class="fa fa-paper-plane" aria-hidden="true"></i>
               <h2>Bar</h2>
             </div>
             <div class="price">
               <h4><sup>$</sup>1200</h4>
             </div>
             <div class="option">
               <ul>
                 <li><em class="fa fa-check" aria-hidden="true"></em>Good Customer service</li>
                 <li><em class="fa fa-check" aria-hidden="true"></em>Good Food and Free Cancellation</li>
                 <li><em class="fa fa-check" aria-hidden="true"></em>Air Conditioning</li>
                 <li><em class="fa fa-times" aria-hidden="true"></em>Outside things not Avaliable</li>
                 </ul>
             </div>
             <a href="restaurant-booking"  class="link-Primary">Book Now</a>
           </div>
         </div>
         <div class="col-sm-4">
           <div class="card card_violet text-center">
             <div class="title">
               <i class="fa fa-plane" aria-hidden="true"></i>
               <h2>Cafe</h2>
             </div>
             <div class="price">
               <h4><sup>$</sup>350</h4>
             </div>
             <div class="option">
               <ul>
                 <li><em class="fa fa-check" aria-hidden="true"></em>Good Food and Bevarage</li>
                 <li><em class="fa fa-check" aria-hidden="true"></em>Clean Place</li>
                 <li><em class="fa fa-check" aria-hidden="true"></em>Good Service</li>
                 <li><em class="fa fa-times" aria-hidden="true"></em>Return back not allowed</li>
                 </ul>
             </div>
             <a href="restaurant-booking"  class="link-Primary">Book Now</a>
           </div>
         </div>
         <div class="col-sm-4">
           <div class="card card_three text-center">
             <div class="title">
               <i class="fa fa-rocket" aria-hidden="true"></i>
               <h2>Dine-in</h2>
             </div>
             <div class="price">
               <h4><sup>$</sup>400</h4>
             </div>
             <div class="option">
               <ul>
                 <li><em class="fa fa-check" aria-hidden="true"></em>Large Space</li>
                 <li><em class="fa fa-check" aria-hidden="true"></em>Multiple Variety of food</li>
                 <li><em class="fa fa-check" aria-hidden="true"></em>Good Arrangement</li>
                 <li><em class="fa fa-times" aria-hidden="true"></em>Social Distance need to maintain</li>
                 </ul>
             </div>
             <a  href="restaurant-booking" class="link-Primary">Book Now</a>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
</div>
<br>
<br>
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Elements -->
  <div class="containera">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../../assets/dine7.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../../assets/bar3.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../../assets/bar2.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../../assets/bar4.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../../assets/dine2.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="../../assets/dine6.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->
<br>
 <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <footer class="text-white text-center text-lg-start bg-primary">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About Resort</h5>

        <p>
          An unparalleled stay experience awaits you at one of the best resorts in India
        </p>

        <p>
          Situated amidst the picturesque hills of Lonavala, this 5 star resort near Pune and Mumbai is one of the best resorts in Lonavala
           and an ultimate getaway destination. Experience a stay in any of our exquisitely designed rooms with world-class amenities and impeccable hospitality. Della Resorts offers 250+ luxurious rooms spread across 6 Resort categories, 4 designer suites and an uber luxurious Presidential Suite.
        </p>

        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><em class="fa-brands fa-facebook"></em></a>
          <!-- Dribbble -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><em class="fab fa-dribbble"></em></a>
          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><em class="fab fa-twitter"></em></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><em class="fab fa-google-plus-g"></em></a>
          <!-- Linkedin -->
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Search something</h5>

        <div class="form-outline form-white mb-4">
          <input type="text" id="formControlLg" class="form-control form-control-lg" />
          <label class="form-label" for="formControlLg">Search</label>
        </div>

        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><em class="fa-brands fa-google"></em></span><span class="ms-2">New York, NY 10012, US</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><em  class="fa-solid fa-circle-envelope"></em></span><span class="ms-2">info@example.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><em class="fa-solid fa-phone-office"></em></span><span class="ms-2">+ 01 234 567 88</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><em class="fa-solid fa-phone-rotary"></em></span><span class="ms-2">+ 01 234 567 89</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening hours</h5>

        <table class="table text-center text-white">
          <caption>TimeLine</caption>
          <tbody class="font-weight-normal">
            <th>
            <tr>
              <td>Mon - Tues:</td>
              <td>12am - 12pm</td>
            </tr>
            <tr>
              <td>Tues - Wed:</td>
              <td>12am - 12pm</td>
            </tr>
            <tr>
              <td>wed - Thu:</td>
              <td>12am - 12pm</td>
            </tr>
            <tr>
              <td>Thu - Fri:</td>
              <td>12am - 12pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>12am - 12pm</td>
            </tr>
            <tr>
              <td>Sat - Sun:</td>
              <td>12am - 12pm</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9am - 10pm</td>
            </tr>
            </th>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://www.tripadvisor.in/Restaurants-g304556-Chennai_Madras_Chennai_District_Tamil_Nadu.html">Restaurant.com</a>
  </div>
  <!-- Copyright -->
</footer>

</div>
<!-- End of .container -->