<div class="background">
    <div class="left-col">

        <a href="#"><img src="../../images/icons8-menu-24.png" alt="">Dashboard</a>
        <a routerLink="/dashboard" routerLinkActive="active-link"><img src="../../images/icons8-location-50.png"
                alt="">Feedback</a>
    </div>
    <div>
       
        <div class="cards">
            <div class="card1">
                <img src="../../assets/login.jpg" alt="" width="270px" height="300px"><br><br><br><br>
                <a href="">Login Data</a>
            </div>
            <div class="card2">
                <img src="../../assets/bar3.jpg" alt="" width="270px" height="300px"><br><br><br><br>
                <a href="database-display">Restaurant Booking Data</a>
            </div>
            <div class="card3">
                <img src="../../assets/customer.jpg" alt="" width="270px" height="300px"><br><br><br><br>
                <a href="dashboard">Customer Feedback</a>
            </div>
        </div>
   <app-adminnav></app-adminnav>
    </div>
</div>