<app-main-page></app-main-page>
<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
<!-- <app-client-login></app-client-login> -->
<!-- <app-employee-form></app-employee-form> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <app-discovery></app-discovery> -->
<!-- <app-discovery></app-discovery> -->
<!-- <app-restaurant-types></app-restaurant-types>
<-- <app-restaurant-booking></app-restaurant-booking> -->
<!-- <app-product-booking></app-product-booking> -->
<!-- <app-bar></app-bar> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-dashboardfront></app-dashboardfront> -->
<!-- <app-database-display></app-database-display> -->
<!-- <app-cloud-kitchen></app-cloud-kitchen> -->
<!-- <app-cafe></app-cafe> -->
<!-- <app-dine-in></app-dine-in> -->