<div>
    <img src="../../assets/bar.gif" class="bargif" alt="..." />
 </div>
<div class="card mb-3" style="max-width: 1200px; height: 570px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div><img src="../../assets/bar.jpg" class="card-img" alt="bar image"></div>
            <div class="box1">
                <div><img src="../../assets/wifi.jpg" class="images" alt="wifi"></div>
                <div>Free Wifi</div>
            </div>
            <div class="box2">
                <div><img src="../../assets/good food.jpg" class="images" alt="Food"></div>
                <div>Good Food and Free Cancellation</div>
            </div>
            <div class="box3">
                <div><img src="../../assets/airconditioning.jpg" class="images" alt="Airconditioning"></div>
                <div>Air Conditioning</div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Deluxe Room City View - King/Twin Bed</h3>
                <br>
                <h5>Deluxe Room</h5>
                <p>Sleeps 4 | King |50 m²square meters</p>
                <h5 class="card-subtitle1">Details</h5>
                <p class="card-text">50 Sq. mt, City View, Sony 40" LCD TV,Electronic Safe,Tea/Coffee Maker,All kinds of
                    drinks,Five Fixture
                    Bathroom,Room Amenities,Free Wifi,Air Conditioning,Safe in Room,Pillow Menu,telephone, High speed
                    internet connection
                </p>
                <h5 class="card-subtitle">Blissful Escapes</h5>
                <p class="card-text"><small class="text-muted">Breakfast Included
                        Inclusive of buffet breakfast, Wifi, 1+1 on select beverages (Once during the stay), INR 2000
                        spa credit per room per stay, Avail complimentary room upgrade on your next stay using promo
                        code</small></p>
                <span>₹12,750
                    Per Night
                    Excluding Taxes & Fees</span>
                <br>
                <br>
                <div>
                    <button type="button" class="btn btn-info" (click)="click()">Book</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card mb-3" style="max-width: 1200px; height: 570px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div><img src="../../assets/bar3.jpg" class="card-img" alt="bar image"></div>
            <div class="box1">
                <div><img src="../../assets/wifi.jpg" class="images" alt="wifi"></div>
                <div>Free Wifi</div>
            </div>
            <div class="box2">
                <div><img src="../../assets/good food.jpg" class="images" alt="Food"></div>
                <div>Good Food</div>
            </div>
            <div class="box3">
                <div><img src="../../assets/airconditioning.jpg" class="images" alt="Airconditioning"></div>
                <div>Air Conditioning</div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Deluxe Room City View - King/Twin Bed</h3>
                <br>
                <h5>Deluxe Room</h5>
                <p>Sleeps 4 | King |50 m²square meters</p>
                <h5 class="card-subtitle1">Details</h5>
                <p class="card-text">50 Sq. mt, City View, Sony 40" LCD TV,Electronic Safe,Tea/Coffee Maker,All kinds of
                    drinks,Five Fixture
                    Bathroom,Room Amenities,Free Wifi,Air Conditioning,Safe in Room,Pillow Menu,telephone, High speed
                    internet connection
                </p>
                <h5 class="card-subtitle">Blissful Escapes</h5>
                <p class="card-text"><small class="text-muted">Breakfast Included
                        Inclusive of buffet breakfast, Wifi, 1+1 on select beverages (Once during the stay), INR 2000
                        spa credit per room per stay, Avail complimentary room upgrade on your next stay using promo
                        code</small></p>
                <span>₹12,750
                    Per Night
                    Excluding Taxes & Fees</span>
                <br>
                <br>
                <div>
                    <button type="button" class="btn btn-info" (click)="click()">Book</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="card mb-3" style="max-width: 1200px; height: 570px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div><img src="../../assets/bar6.jpg" class="card-img" alt="bar image"></div>
            <div class="box1">
                <div><img src="../../assets/wifi.jpg" class="images" alt="wifi"></div>
                <div>Free Wifi</div>
            </div>
            <div class="box2">
                <div><img src="../../assets/good food.jpg" class="images" alt="Food"></div>
                <div>Good Food</div>
            </div>
            <div class="box3">
                <div><img src="../../assets/airconditioning.jpg" class="images" alt="Airconditioning"></div>
                <div>Air Conditioning</div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Deluxe Room City View - King/Twin Bed</h3>
                <br>
                <h5>Deluxe Room</h5>
                <p>Sleeps 4 | King |50 m²square meters</p>
                <h5 class="card-subtitle1">Details</h5>
                <p class="card-text">50 Sq. mt, City View, Sony 40" LCD TV,Electronic Safe,Tea/Coffee Maker,All kinds of
                    drinks,Five Fixture
                    Bathroom,Room Amenities,Free Wifi,Air Conditioning,Safe in Room,Pillow Menu,telephone, High speed
                    internet connection
                </p>
                <h5 class="card-subtitle">Blissful Escapes</h5>
                <p class="card-text"><small class="text-muted">Breakfast Included
                        Inclusive of buffet breakfast, Wifi, 1+1 on select beverages (Once during the stay), INR 2000
                        spa credit per room per stay, Avail complimentary room upgrade on your next stay using promo
                        code</small></p>
                <span>₹12,750
                    Per Night
                    Excluding Taxes & Fees</span>
                <br>
                <br>
                <div>
                    <button type="button" class="btn btn-info" (click)="click()">Book</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card mb-3" style="max-width: 1200px; height: 570px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div><img src="../../assets/bar5.jpg" class="card-img" alt="bar image"></div>
            <div class="box1">
                <div><img src="../../assets/wifi.jpg" class="images" alt="wifi"></div>
                <div>Free Wifi</div>
            </div>
            <div class="box2">
                <div><img src="../../assets/good food.jpg" class="images" alt="Food"></div>
                <div>Good Food</div>
            </div>
            <div class="box3">
                <div><img src="../../assets/airconditioning.jpg" class="images" alt="Airconditioning"></div>
                <div>Air Conditioning</div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Deluxe Room City View - King/Twin Bed</h3>
                <br>
                <h5>Deluxe Room</h5>
                <p>Sleeps 4 | King |50 m²square meters</p>
                <h5 class="card-subtitle1">Details</h5>
                <p class="card-text">50 Sq. mt, City View, Sony 40" LCD TV,Electronic Safe,Tea/Coffee Maker,All kinds of
                    drinks,Five Fixture
                    Bathroom,Room Amenities,Free Wifi,Air Conditioning,Safe in Room,Pillow Menu,telephone, High speed
                    internet connection
                </p>
                <h5 class="card-subtitle">Blissful Escapes</h5>
                <p class="card-text"><small class="text-muted">Breakfast Included
                        Inclusive of buffet breakfast, Wifi, 1+1 on select beverages (Once during the stay), INR 2000
                        spa credit per room per stay, Avail complimentary room upgrade on your next stay using promo
                        code</small></p>
                <span>₹12,750
                    Per Night
                    Excluding Taxes & Fees</span>
                <br>
                <br>
                <div>
                    <button type="button" class="btn btn-info" (click)="click()">Book</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card mb-3" style="max-width: 1200px; height: 570px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div><img src="../../assets/bar22.webp" class="card-img" alt="bar image"></div>
            <div class="box1">
                <div><img src="../../assets/wifi.jpg" class="images" alt="wifi"></div>
                <div>Free Wifi</div>
            </div>
            <div class="box2">
                <div><img src="../../assets/good food.jpg" class="images" alt="Food"></div>
                <div>Good Food</div>
            </div>
            <div class="box3">
                <div><img src="../../assets/airconditioning.jpg" class="images" alt="Airconditioning"></div>
                <div>Air Conditioning</div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">Deluxe Room City View - King/Twin Bed</h3>
                <br>
                <h5>Deluxe Room</h5>
                <p>Sleeps 4 | King |50 m²square meters</p>
                <h5 class="card-subtitle1">Details</h5>
                <p class="card-text">50 Sq. mt, City View, Sony 40" LCD TV,Electronic Safe,Tea/Coffee Maker,All kinds of
                    drinks,Five Fixture
                    Bathroom,Room Amenities,Free Wifi,Air Conditioning,Safe in Room,Pillow Menu,telephone, High speed
                    internet connection
                </p>
                <h5 class="card-subtitle">Blissful Escapes</h5>
                <p class="card-text"><small class="text-muted">Breakfast Included
                        Inclusive of buffet breakfast, Wifi, 1+1 on select beverages (Once during the stay), INR 2000
                        spa credit per room per stay, Avail complimentary room upgrade on your next stay using promo
                        code</small></p>
                <span>₹12,750
                    Per Night
                    Excluding Taxes & Fees</span>
                <br>
                <br>
                <div>
                    <button type="button" class="btn btn-info" (click)="click()">Book</button>
                </div>
            </div>
        </div>
        <app-navheader></app-navheader>
    </div>
</div>